<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="testNGClasses.TestCase4"/>
      <class name="testNGClasses.TestCase3"/>
      <class name="testNGClasses.TestCase2"/>
      <class name="testNGClasses.TestCase1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
